.el {
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.08) !important;
}

.pointer {
  cursor: pointer;
}

.swal2-popup.swal2-toast .swal2-html-container,
.swal2-container.swal2-center > .swal2-popup {
  font-family: "DM Sans" !important;
}
